@import '../../styles/colors';

.path {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  height: 27px;

  >*:not(:last-child) {
    margin-right: 15px;

    color: $gray-2;
  }

  >*:last-child {
    color: $gray-6;

    cursor: auto;
  }
}
