$green-1: #345D57;
$green-2: #426864;
$green-3: #043730;
$green-4: #528A82;
$green-5: #4E7771;

$gray-1: #F5F7F7;
$gray-2: #B5BEBD;
$gray-3: #FAFAFA;
$gray-4: #CDDAD8;
$gray-5: #868B8B;
$gray-6: #043730;

$yellow: #FFD352;
$yellow-1: #F8973E;
