@import '../../styles/colors';
@import '../../styles/grid';

.wrapper {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 44px;

    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: $green-2;

    .dropdowns {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 30px;

      .year, .month {
        position: relative;

        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;

        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 15px;

      > * {
        width: 44px;
        height: 44px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $gray-1;
        border-radius: 15px;

        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 9px rgba(4, 55, 48, 0.37);
        }
      }
    }
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 44px);
    gap: 10px;
    align-items: center;

    height: 44px;

    background-color: $gray-1;
    border-radius: 15px;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;

      color: $green-2;

      font-size: 16px;
      line-height: 22px;
    }
  }

  .littleCalendar {
    display: grid;
    grid-template-columns: repeat(7, 44px);
    grid-template-rows: repeat(6, 44px);

    gap: 10px;

    margin-bottom: 49px;

    > * {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      font-size: 16px;
      line-height: 22px;

      border-radius: 15px;

      color: $gray-4;

      &.currentMonth {
        color: $gray-5;
        background-color: $gray-1;
      }

      &.currentDay {
        color: white;
        background-color: $green-3;
      }

      &:hover {
        cursor: pointer;

        box-shadow: 2px 2px 9px rgba(4, 55, 48, 0.37);
      }

      > svg {
        position: absolute;

        top: 0;
        right: 6px;
      }
    }
  }

  > h2 {
    margin-bottom: 10px;
  }

  .currentWorks {
    display: grid;
    gap: 10px;

    overflow-y: auto;
    height: calc(100vh - 8 * 44px - 5 * 10px - 49px - 27px - 170px);
    grid-auto-rows: 100px;
    min-height: calc(3 * 100px + 3 * 10px);

    .work {
      height: calc(100px - 2 * 20px);;

      padding: 20px;

      display: grid;
      grid-template-columns: auto 60px;
      gap: 60px;

      align-items: center;

      background-color: $gray-1;
      color: $green-1;
      font-size: 14px;
      line-height: 19px;

      border-radius: 20px;

      &.cool {
        background-color: $green-1;
        color: white;
      }

      &:hover {
        cursor: pointer;
      }

      > *:first-child {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > *:first-child {
          font-weight: bold;
        }

        > *:last-child {
          display: grid;
          grid-template-columns: repeat(3, max-content);
          gap: 5px;

          align-items: center;
        }
      }

      .progress {
        position: relative;

        > figure {
          transform: rotateZ(0.75turn);
        }

        .text {
          position: absolute;
          top: 23px;
          left: 15px;

          font-size: 14px;
          line-height: 19px;

          color: $yellow-1;

          &.cool {
            color: $yellow;
          }
        }
      }
    }
  }
}

// Months dropdown
.months {
  position: absolute;

  z-index: 1000;

  background-color: $green-6;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
  row-gap: 15px;
  justify-content: space-between;

  width: grid-width(4) - 40px;
  top: calc(100% + 8px);
  left: 0;

  padding: 20px 20px 30px 20px;

  color: $gray-5;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;

  > *:hover {
    cursor: pointer;
    color: $green-2;
  }

  .selectedMonth {
    font-weight: bold;
    color: $green-2;
  }
}

.monthUnderline {
  position: absolute;

  background: linear-gradient(0deg, #345D57, #345D57), #F5F7F7;
  border-radius: 18px;

  width: 100%;
  height: 5px;
  left: 0;
  bottom: -8px;
}

// Years dropdown
.years {
  position: absolute;

  z-index: 1000;

  background-color: $green-6;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;


  width: grid-width(4) - 40px;
  top: calc(100% + 8px);
  right: -163px;

  padding: 20px 20px 30px 20px;

  color: $gray-5;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;

  .currentYearButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;

    color: $green-2;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;

    > *:first-child, > *:last-child {
      width: 44px;
      height: 44px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $gray-1;
      border-radius: 15px;

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 9px rgba(4, 55, 48, 0.37);
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    column-gap: 60px;

    > *:hover {
      cursor: pointer;
      color: $green-2;
    }

    .selectedYear {
      font-weight: bold;
      color: $green-2;
    }
  }
}

.yearUnderline {
  position: absolute;

  background: linear-gradient(0deg, #345D57, #345D57), #F5F7F7;
  border-radius: 18px;

  width: 100%;
  height: 5px;
  left: 0;
  bottom: -8px;
}
