@import '../../styles/grid.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.main {
  height: calc(100% - #{$headerHeight} - #{$headerTopPadding} - #{$headerBottomPadding});
  min-height: 850px;

  display: grid;
  grid-template-columns: grid-width(3) auto grid-width(4);
  gap: 30px;

  .mainWrapper {
    overflow-y: auto;

    >*:first-child {
      margin-bottom: 20px;
    }

    .content {
      display: flex;
      flex-direction: column;

      > * {
        margin-bottom: 30px;
      }

      .header {
        display: flex;
        justify-content: space-between;

        .dropdowns {
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;

          color: $green-2;

          display: grid;
          grid-template-columns: repeat(2, auto);
          gap: 30px;

          > * {
            position: relative;

            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;

            align-items: center;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .week {
          display: flex;
          align-items: center;

          >*:not(:last-child) {
            margin-right: 10px;
          }

          > *:first-child, > *:last-child {
            width: 44px;
            height: 44px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: white;
            border-radius: 15px;

            &:hover {
              cursor: pointer;
              box-shadow: 2px 2px 9px rgba(4, 55, 48, 0.37);
            }
          }

          .weeks {
            user-select: none;

            height: 44px;

            background-color: white;
            border-radius: 15px;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0 20px;

            font-size: 16px;
            line-height: 22px;

            color: $green-2;
          }
        }
      }

      flex-wrap: wrap;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: $green-1;
  }
}
