@import '../../styles/grid.scss';
@import '../../styles/variables.scss';

main {
  height: calc(100% - #{$headerHeight});

  display: grid;
  grid-template-columns: grid-width(3) auto grid-width(4);
  gap: 30px;
}
